body {
    background-color: rgb(170, 123, 123);
}
h1 {
    color: rgb(92, 24, 24);
    font-size: 60px;
    font-family: 'Franklin Gothic Medium';
}
p {
    color: aliceblue;
    font-size: 15px;
    font-family: Verdana;
}
h2 {
     color: rgb(92, 24, 24);
    font-size: 40px;
    font-family: 'Franklin Gothic Medium'
}
p {
    color: aliceblue;
    font-size: 15px;
    font-family: Verdana;
}
h1, p {
    margin: 0;
}
h2, p {
    margin: 0;
}
nav ul li a {
    color: rgb(250, 248, 248);
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
}
nav {
      background-color: rgb(8, 8, 8);
      width: 100%;
      padding: 10px;
}
p {
  margin-bottom: 20px;
}
h3 {
    color: rgb(92, 24, 24);
    font-size: 40px;
    font-family: 'Franklin Gothic Medium';
}
ul li {
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-family: 'Verdana';
}
h4 {
    color: rgb(92, 24, 24);
    font-size: 40px;
    font-family: 'Franklin Gothic Medium';
}
.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
gallery img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}
footer ,p {
    color: black;
    font-size: 20px;
}